body {
background: linear-gradient(to bottom, #9cafff, #607ef0);
background-size: cover;
background-repeat: repeat;
margin: 0px 25px 0px 25px;
}
h1 {
color:#cc0088;
text-shadow:2px 3px 3px white;
}
h2,h3 {
color: white;
text-shadow: 0px 0px 7px #a30808;
padding: 10px 0 0 10px; 
font-size:35px
}
.divbox {
margin:41px;
text-align: left;
background: #d0d3f5;
border-radius: 15px;
width: 350px;
height:250px;
padding: 8px 0px 8px 8px;
display: inline-block;
}
.divfieldset {
border: none;
}
.divfieldsetlegend {
text-align: center;
font-size:50px;
color: white;
padding-bottom: 5px;
}
.button {
border: 2px;
text-align: center;
text-decoration: none;
margin-left: 5px;
margin-right: 5px;
display: inline-block;
font-size: 16px;
transition-duration:  0.5s;
color: black;
cursor: pointer;
width: 30px;
height:30px;
cursor: pointer;
border-radius:100px;
}
.removebuttonbackground {
background: transparent;
box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.2);
color: black;
border: none;
}
.removebuttonbackground:hover {
transform: scale(1.3);
color: black;
background: #ff4a3d;
}

.editbuttonbackground {
background: transparent;
box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.2);
color: black;
border: none;
}
.editbuttonbackground:hover {
transform: scale(1.3);
color: black;
background: #f5f5f5;
}

.viewbuttonbackground {
background: transparent;
box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.2);
color: black;
border: none;
}
.viewbuttonbackground:hover {
transform: scale(1.3);
color: black;
background: #2da7ed;
}

.bellbuttonbackground {
background: transparent;
box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.2);
color: black;
border: none;
}
.bellbuttonbackground:hover {
transform: scale(1.3);
color: black;
background: #2da7ed;
}
   
   
   
   
   
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
